@import 'hamburger';
// #content {
// 	z-index: map-get($z-index, 'two');
// 	overflow-y: auto;
// 	-webkit-overflow-scrolling: touch;
// }

#nav-logo {
	height: 40px;
	width: auto;
	position: fixed;
	top: $spacer;
	left: $spacer*2;
	z-index: map-get($z-index, 'four');
	transition: transform 0.5s ease;
}

.nav-trigger {
	position: fixed; // from 'fixed'
	z-index: map-get($z-index, 'four');
	right: $spacer;
	bottom: $spacer;
	height: 54px;
	width: 54px;
	background-color: $brand;
	border-radius: 50%;
	/* image replacement */
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	transition: transform 0.5s ease;
}

.nav-trigger .nav-icon {
	background-color: #ffffff;
}

.nav-trigger svg {
	position: absolute;
	top: 0;
	left: 0;
}

.nav-trigger circle {
	/* circle border animation */
	transition: stroke-dashoffset 0.4s 0s;
}

.nav-is-open .nav-trigger circle {
	stroke-dashoffset: 0;
	transition: stroke-dashoffset 0.4s 0.3s;
}

.nav {
	position: fixed;
	z-index: map-get($z-index, 'three');
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: $brand-dark;
	color: $black;
	-webkit-backface-visibilty: hidden;
	@include transform(translate3D(-100%,0,0));
	transition: transform 0.4s $easeInOutExpo;
}

@include media('>phablet') {
	.nav {
		width: 75%;
	}
}

.nav .nav-wrapper {
	/* all nav content */
	height: 100%;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	padding: $spacer*4 5% 40px $spacer*2;
}

.nav-is-open .nav {
	@include transform(translate3D(0,0,0));
}


@import 'nav-interior';

.no-js main {
	height: auto;
	overflow: visible;
}

.no-js .nav {
	position: static;
	visibility: visible;
}

.no-js .nav .nav-wrapper {
	height: auto;
	overflow: visible;
	padding: 100px 5%;
}

.ui-hidden {
	#nav-logo {
		transform: translate3d(-300px, 0, 0);;
	}

	.nav-trigger {
		transform: translate3d(300px, 0, 0);
	}
}

// resetting FX
.nav-is-open .ui-hidden {
	#nav-logo {
		transform: translate3d(0, 0, 0);;
	}

	.nav-trigger {
		transform: translate3d(0, 0, 0);
	}
}

@include media('>desktop') {
	.nav {
		width: 25rem;
		@include transform(translate3D(0,0,0));
	}
	.nav-trigger {
		display: none;
	}
}
