// pushes text and article contents below nav, but not images that lie above that element


.alignleft, .alignright {
	width: 50%;
	display: inline-block;
	margin-bottom: 1em;
	
}
.alignleft {
	float: left;
	margin-right: 1em;
}
.alignright {
	float: right;
	margin-left: 1em;
}

article.page {
	margin-top: 2rem;
}

footer {
	text-align: center;
}