// pushes text and article contents below nav, but not images that lie above that element

#inner-content {
	margin-top: 5rem;
	min-height: 100vh;
	padding-bottom: 2rem;
  /* equal to footer height */
  margin-bottom: -142px;
	&:after {
	  content: "";
	  display: block;
		height: 142px;
	}
}

.alignleft, .alignright {
	width: 50%;
	display: inline-block;
	margin-bottom: 1em;

}
.alignleft {
	float: left;
	margin-left: 0px;
	margin-right: 1em;
}
.alignright {
	float: right;
	margin-right: 0px;
	margin-left: 1em;
}

footer {
	text-align: center;
}
@include media('>desktop') {
	.page-template-default {
		.page-featured-image {
			width: 33vw;
			height: 100%;
			overflow: hidden;
			position: fixed;
			top: 0px;
			z-index: 3;
			img {
				height: 100%;
				width: auto;
			}
		}
		.page-featured-image + #inner-content{
				margin-left: 33vw;
		}
		.footer{
				margin-left: 33vw;
		}
	}
}

.entry-content, .page-title, .inner-footer, #home-blocks {
	  max-width: 600px;
		margin-left: auto;
		margin-right: auto;
}

.entry-content {
	@include font-size(20);
  font-family: $font-serif;
	font-weight: $light;
	line-height: 1.5;
  margin-top: 2rem;
}
